/* .toDoContainer{
    border: 1px solid black;
}
.eachTodo{
    border: 1px solid black;
    padding: 0.5rem;
}
.deletebtn{
    margin: 3px;
}
.inputUpdate{
    margin-left: 25px;
    margin-right: 25px;
} */